<footer>
  <div class="row center-xs social">
  {{ range .Site.Params.Social -}}
    <div class="col-xs-2">
      <a target="_blank" rel="noopener" href="{{ .url }}">
        {{ partial "icon" .type }}
      </a>
    </div>
  {{- end }}
  </div>
  {{ if (.Site.Params.copyright) -}}
  <div class="row center-xs">
    <div class="col-xs">
      <small>
      <small>
      {{ if .Site.Params.copyright -}}
        {{ i18n "copyright" }} &copy; {{ now.Format "2006" }} {{ .Site.Title }}
      {{- end -}}
      {{ if and (.Site.Params.copyright) (or (.Site.Params.credit) (eq (isset .Site.Params "credit") false)) -}}
      ,
      {{- end }}
      {{ if or (.Site.Params.credit) (eq (isset .Site.Params "credit") false) -}}
      Theme: <a href="https://github.com/kdevo/osprey-delight" target="_blank" rel="noopener">Osprey Delight</a>
      </small>
      </small>
      {{- end }}
    </div>
  </div>
  {{- end }}
</footer>
